@font-face {
  font-family: "Pokemon Solid";
  format: ("truetype");
  src: url(./assets/font/Pokemon\ Solid.ttf);
}

body {
  margin: 0;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app-container h1 {
  font-family: Pokemon solid;
  font-size: 47px;
  -webkit-text-fill-color: 5px black;
  -webkit-text-stroke: 0.3px rgb(233, 223, 231);
}

.find-more {
  background: white;
  border-radius: 6px;
  border: 3px solid #945a96;
  padding: 0.5rem 1.5rem;
  min-width: 10%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.input {
  border: 0;
  width: 100px;
}
